.nav{
  display: none;
}

.nav-pills .nav-link {

 border-radius :40px;
}
.nav-pills .nav-link.active{
  background-color: var(--color-green-1);

}
.tab-nav{
  display: flex;
}
@media (min-width: 768px) {
  .nav{
    display: flex;
    justify-content: center;

    .nav-link{
      border: 1px solid rgb(124, 124, 124);
      min-width: 130px;
      text-align: center;
    }

  }

  .container {
    margin: 0 auto;

  }
  .line {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    position: relative;

  }
  .line:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(124, 124, 124);
        top: 20%;
      }
}
