<div class="container">
  <div class="shopping-cartState-container shopping-cart-container" >
    <div class="row mb-3">
      <div class="col-4 icon-back">
        <button (click)="goBack()" class="btn btn-light d-md-none d-block" type="button">
          <fa-icon [icon]="faAngleLeft" class="fa-lg"></fa-icon>
        </button>
        <button (click)="goBack()" class="btn btn-light d-none d-md-block" type="button">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          Menu
        </button>
      </div>
      <div class="col d-md-none">
        <h1 class="title-page">Tu Pedido</h1>
      </div>
    </div>
    <app-tabs></app-tabs>
    <div *ngFor="let order of shoppingCart.cart.orders">
      <app-product-selected-container [order]="order"/>
    </div>
    <app-delivery-container (sendIdAddress)="getIdAddress($event)"></app-delivery-container>
  </div>
  <div class="d-grid gap-2 col-2 mx-auto d-none d-md-block">
    <button (click)="sgtePage()" class="btn btn-success btn-lgp" type="button">
      Continuar
    </button>
  </div>
</div>
<app-footer-mobile (click)="sgtePage()" text="Ir a pagar"></app-footer-mobile>
