<div class="product-optional-container">
  <h2 class="text-title">Variedad</h2>
  <p class="text-muted">Elige opciones</p>

  <app-button-counter-product-optional [name]="'Ingrediente1'" [maxValue]="5" [minValue]="0"/>
  <hr>
  <app-button-counter-product-optional [name]="'Ingrediente2'" [maxValue]="5" [minValue]="0"/>
  <hr>
  <app-button-counter-product-optional [name]="'Ingrediente3'" [maxValue]="5" [minValue]="0"/>
  <hr>
  <app-button-counter-product-optional [name]="'Ingrediente4'" [maxValue]="5" [minValue]="0"/>
  <hr>
  <app-button-counter-product-optional [name]="'Ingrediente5'" [maxValue]="5" [minValue]="0"/>
</div>
